<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body style="text-align: center">
    <%- include('./partials/header') %>
    <div class="form-label">
      <h1>Create user</h1>
      <form action="/users/create" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name" />
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Your email address"
        />
        <label for="password">Email:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Your password"
        />
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
