<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/general') %>
    <style>
      body {
        text-align: center;
        padding: 50px;
        line-height: 50px;
      }
    </style>
  </head>
  <body>
    <h1>You must be logged in to access the system</h1>
    <a href="/users/login"><button>Log in</button></a>
    Or
    <a href="/users/create"><button>Sign up</button></a>
  </body>
</html>
